* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;

}



.layout{
 
  width: 100%;
  min-height: 100vh;
  position: absolute;

 padding-top: 8rem;
}

.layout--content{
  margin-bottom: 6rem;
}

/*============================================== 
Header
============================================== */
.header {
  align-items: center;
  justify-content: space-between;
 z-index: 999;
 background: rgb(177, 172, 172);
 
  
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
 
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);

}

.logo {
  margin: 1rem;
  font-size: 35px;
  color: blue;

}

.logo span {
  color: brown;
}


.mobile-nav-toggle {
  display: none;

}

.primary-navigation {
  list-style: none;

}

.primary-navigation a {
  text-decoration: none;
  cursor: pointer;
  position: relative;
  color: blue;
}

.primary-navigation a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: blue;
  position: absolute;
  bottom: -6px;
  left: 0;
  
  transform: translateX(-60%);
  transition:  500ms ease;
  
}

.primary-navigation a:hover::after {
  transform: translateX(0%);
  display: block;
  width: 100%;
  
}

@media (max-width:43em) {

    
  .primary-navigation {
    --gap: 2em;
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 60%;
    top: 72px;
    
    flex-direction: column;
    padding: min(20vh, 10rem) 4rem;
    
    background: rgb(177, 172, 172);
   
    
    

    transform: translateX(100%);
    transition: transform 350ms ease-out;

    
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    background-color: transparent;
    background-image: url("../public/bars-solid.svg");
    background-repeat: no-repeat;
    width: 2rem;
    height: 2rem;
    border: 0;
    top: 2rem;
    right: 2rem;
    cursor: pointer;

  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url("../public/x-solid.svg");
  }
}

@media(min-width:43em) {
  .primary-navigation {
    --gap: 3rem;
    padding-block: 2rem;
    padding-inline: 2rem;
  }
}


/*==============================================
            home page
===============================================*/
.home-containner{
  display: flex;
  flex-direction: column;
  gap: 5rem;
  
}

.info {

  width: 80%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  margin: auto;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.info p span{
  color: brown;
  font-size: 2rem;
  font-weight: 600;
}

.info p {
  font-size: 4rem;
}

.info--text {
  width: 80%;
}


.info--text p {
  font-size: 1.5rem;
  padding: 0 2rem;
}

@media(max-width:670px){
  .info{
    flex-direction: column;
  }
}

/*------------------------------------- 
        Responsive Player
-------------------------------------*/

.player-wrapper {
  width: 80%; 
  margin: auto;
  position: relative;
  padding-top: 44.25% ;/* Player ratio: 100 / (1280 / 720) */
  
  display: block;
}

.p-wrapper h1{
  width: max-content;
  margin-left: 10%;
  margin-bottom: 2rem;
  transition: 0.5s ease;
}

.p-wrapper h1:hover{
  border-bottom: 1px solid black;
}



.react-player {
  position: absolute;
  top: 0;
  left: 0;
 
  border: 2px solid black;
}


/* =============================================
################################################
===============================================*/

/*============================================== 
                     Footer 
============================================== */

.footer {
  
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 2px 0;
  margin-top: 60px;
  color: #777;
  border-top: 1px solid #eaeaea;
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: 10px;
  flex-wrap: wrap;
}









.sr-only {
  display: none;
}